<%- include('../base/header') -%>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1 class="text-center">404</h1>
          <p class="lead text-center">Page Does Not Exist</p>
          <p class="lead text-center">
            <a href="/" class="btn btn-lg btn-default">Go Home</a>
          </p>
        </div>
      </div>
<%- include('../base/footer') -%>
