<%- include('../base/header') -%>

<div class="row">
    <div class=" jumbotron col-md-8 col-md-offset-2">
      <h1 class="text-center">ORACLE SECURE STORAGE APPLICATION</h1>
      <h3 class="text-center" style="color: grey;" >Own your data, earn from it, keep your data secure.</h3>
      <p class="text-center"><a class="btn btn-lg btn-success" href="/mineGui" role="button">Own Your Data Today!</a></p>
    </div>
  </div>

<%- include('../base/footer') -%>
