<%- include('../base/header') -%>

    <!-- Forgot Password Form -->
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <form action="/auth/forgot" method="POST">
            <div class="form-group">
              <input type="email" name="email" id="email" class="form-control" placeholder="email" required="true">
            </div>

            <input type="hidden" name="_csrf" value="<%=csrf%>">

            <p class="text-center">
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <button type="submit" class="btn btn-success btn-block">SEND EMAIL</button>
                </div>
              </div>
            </p>
          </form>
        </div>
      </div>
    <!-- End Forgot Password form -->

<%- include('../base/footer') -%>
