
      <!-- Sticky Footer -->
      <footer class="footer">
        <div class="container">
          <p class="">Vendo Ltd &copy; 2018</p>
        </div>
      </footer>
      <!-- End Footer -->

    <!-- End continer -->
    </div>

    <!--JavaScript at end of body for optimized loading-->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>

  </body>
</html>
